.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*.card-bg{
  background: gray;
}*/
.card-custom-signup{
  display: inline-grid;
  margin-top: 100px; 
}
.card-custom-login{
  display: inline-grid;
  margin-top: 200px; 
}
.card-input div{
  width: 98%;
}
.card-input button{
  width: 98%;
}
.card-input a {
    width: 98%;
    text-decoration: none;
}
.sidebar div{
  position: relative;
}
.dashboard-card{
      display: flex;
    padding: 25px;
}
.dashboard-card div {
    margin: 15px;
}
.custom-a{
  text-decoration: none;
}
.custom-button{
  margin-top: 20px !important;
}

.MuiBox-root.css-k008qs {
  margin-left: 15em!important;
}
.dashboard-card.MuiBox-root.css-0 {
    margin-left: 15em !important;
}
main.MuiBox-root.css-1v5u2yv {
    margin-left: 15em !important;
}
.card-display{
  display: inline-flex;
}